/* src/components/ContactCard.module.css */

.contactPage {
    padding: 2rem;
    background-color: #f5f7fa;
    /* min-height: 100vh; */
    font-family: 'Segoe UI', sans-serif;
  }
  
  .title {
    /* text-align: center; */
    font-size: 2rem;
    color: #003366;
    margin-bottom: 2rem;
    padding-left: 8px;
    border-left: #003366 solid;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
  }
  
  .leftCard, .rightCard {
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    width: 420px;
  }
  
  .leftCard h2, .leftCard h3 {
    color: #003366;
    margin-bottom: 0.5rem;
  }
  
  .leftCard p, .leftCard li {
    color: #333;
    font-size: 0.95rem;
    margin: 0.2rem 0;
    height: auto;
  }
  
  .leftCard ul {
    list-style: none;
    padding: 0;
    height: auto;
  }
  
  .rightCard iframe {
    width: 100%;
    border: none;
    height: 400px;
  }
  

  /* Hero section with background image */
  .heroSection {
    position: relative;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  .heroSection::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  
  @keyframes zoomFade {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .heroText {
    position: relative;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    z-index: 1;
    letter-spacing: 2px;
    animation: zoomFade 1s ease-in-out;
  }
    

  .backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    font-size: 14px;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .backToTop:hover {
    background-color: #005fa3;
    transform: scale(1.1);
  }
  